#users{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#users div{
   margin:10px;
}
#users img{
   border-radius: 50%;
}
#users button{
  padding: 8px 19px;
  border: none;
  outline: none;
  background: #f76496;
  color: #fff;
  border-radius: 4px 4px;
}